<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="info">
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <br>
    <br>
    <p class="botones"><a class="botonVolver" href="/movies">Listado de Películas</a>
    <a class="botonAgregar" href="/actors">Listado de actores</a>
  <a class="botonVolver" href="/genres">Listado de Géneros</a></p>
  </body>
</div>
</html>
